/* * {
  margin: 0;
  padding: 0;
} */


body {
  margin: -16px;
}

.navbar {
  margin-top: 0%;
  margin-left: 1%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
}

.App-link {
  color: #61dafb;
}

.logo {
  width: 15vw;
  margin-top: -64px;
  height: 17vh;
  margin-left: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}





.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  width: 134px;
  margin-left: 2%;
}

.form-check-input {
  display: flex;
  flex-direction: row;

  margin-left: 205%;
  margin-top: -22%;
}



.list-switch {
  margin-left: 47%;
}

.card {
  float: right;
  margin-top: 10%;

}



.rounded {
  margin-top: -45px;
  width: 200px;
  height: 190px;

  margin-left: 80%;
  border-radius: 12px;
  border-color: rgb(5, 142, 37);
  border-style: solid;

}






.friends {
  margin-top: 0;

  margin-left: 1%;
}

input {
  width: 15%;
}




p {
  margin-left: 20%;
}

.image-container {
  flex-direction: row;
  margin-top: -22%;
  margin-right: 10%;
  color: darkgreen;
}

h3 {
  text-align: center;
}



h5 {
  margin-left: 299px;
}

.goback {
  margin: 221px;

  margin-left: 22%;
  margin-top: 1px;
  margin-right: -25%;


}

button {
  background-color: rgb(123, 109, 232);
  margin-left: 19px;
}

select {
  width: 63%;
}

label {
  display: flex;
}

input {
  margin-left: -1%;
  width: 56%;
}

.col-md-6 {
  margin-top: 20%;
}



.row {
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  color: darkgreen;
  background-color: honeydew;
  width: 90%;
  height: 225%;
  font-size: large;
  margin-left: 10%;
  margin-right: 10%;
}

.remove-button {
  background-color: #609c63;
  color: #fff;
  border: none;
  padding: 5px 5px;
  border-radius: 4px;
  cursor: pointer;
  width: 80px;
  height: 30px;
  font-size: 14px;
}

.remove-button:hover {
  background-color: #e53935;

}

.img {
  display: inline;
  flex-direction: column;
  margin-top: 2%;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin-left: 40px;
  border-radius: 12px;
  border-style: solid;
  border-color: green;


}